.description {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.3);
}

#Container {
    transition-duration: 1s;
    transition-timing-function: linear;
}

.preloadingAnimator {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    opacity: 0;
}

.unity-base-field__label {
    padding-bottom: 0;
    margin-top: 0;
}
